<!-- Modal info camera 09_05 + 09_06-->
<div class="modal fade" id="infoCameraModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="exampleModalLabel">Thông tin camera</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="las la-times"></i></span>

                </button>
            </div>
            <div class="modal-body">
                <div class="title">
                    <span>Cửa chính</span>
                    <i class="icon fas fa-edit"></i>
                </div>
                <div class="search_camera">
                    <input class="input_search" type="text" placeholder="Tìm camera">
                    <i class="icon_yes fas fa-check"></i>
                    <i class="icon_no fas fa-times"></i>
                </div>
                <div class="info_camera">
                    <div class="info_camera__line">
                        <div class="info_camera__title">Nhà cung cấp</div>
                        <div class="info_camera__information">
                            <span>HIKVISION</span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Kiểu mẫu</div>
                        <div class="info_camera__information">
                            <span>DS-2CD2023GO-I</span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Firmware</div>
                        <div class="info_camera__information">
                            <span>V5.5.82 build 181211</span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">IP</div>
                        <div class="info_camera__information">
                            <span><a href="#">http://172.18.201.27</a></span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Trang web</div>
                        <div class="info_camera__information">
                            <span>98-8B-0A-1B-66-2B</span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">MAC</div>
                        <div class="info_camera__information">
                            <span>a919b78a-f76c-0348-3344-848265a31aeb</span>

                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Tên camera</div>
                        <div class="info_camera__information">
                            <span>rtsp://172.18.201.27:554/ISAPI/Streaming/channels/101</span>
                            <i class="icon fas fa-copy"></i>
                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Nguồn dữ liệu chính</div>
                        <div class="info_camera__information">
                            <span>rtsp://172.18.201.27:554/ISAPI/Streaming/channels/102</span>
                            <i class="icon fas fa-copy"></i>
                        </div>
                    </div>
                    <div class="info_camera__line">
                        <div class="info_camera__title">Nguồn dữ liệu phụ</div>
                        <div class="info_camera__information">
                            <span>Minerva Solution</span>
                            <i class="icon fas fa-copy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tạo nhóm camera 09_07_03-->
<div class="modal fade" id="addGroupModal" aria-labelledby="adGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog model_add_new">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="addGroupModalLabel">Thông tin camera</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="las la-times"></i></span>

                </button>
            </div>
            <div class="modal-body ">
                <div class="add_group">
                    <div class="title_normal">
                        <span>Bạn hãy tạo nhóm camera mà bạn muốn</span>
                    </div>
                    <input type="text" class="form-control input_name_group">
                    <div class="button_bottom">
                        <button class="btn btn_none_bg green_outline">LƯU</button>
                        <button class="btn btn_none_bg red_outline">HỦY BỎ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>