
@font-face {
    font-family: 'UTMCenturBold';
    src: url('../assets/fonts/UTM_centur_bold/UTMCenturBold.eot');
    src: url('../assets/fonts/UTM_centur_bold/UTMCenturBold.eot') format('embedded-opentype'),
        url('../assets/fonts/UTM_centur_bold/UTMCenturBold.woff2') format('woff2'),
        url('../assets/fonts/UTM_centur_bold/UTMCenturBold.woff') format('woff'),
        url('../assets/fonts/UTM_centur_bold/UTMCenturBold.ttf') format('truetype'),
        url('../assets/fonts/UTM_centur_bold/UTMCenturBold.svg#UTMCenturBold') format('svg');
}

// font family
$UTMCenturBold: "UTMCenturBold";