@import '../assets/fonts/UTM_centur_bold/UTMCenturBold.css';
@import '../assets/fonts/UTM_centur_bold_italic/UTMCenturBoldItalic.css';
@import '../assets/fonts/UTM_centur_italic/UTMCenturItalic.css';
@import '../assets/fonts/UTM_centur_regular/UTMCentur.css';

// font family
$UTMCentur: "UTMCentur";
$UTMCenturBold: "UTMCenturBold";
$UTMCenturItalic: "UTMCenturItalic";
$UTMCenturBoldItalic: "UTMCenturBoldItalic";